.aside{
    width: 180px;
}

.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link{
    padding-left: 10px;
}

.bg-main{
    background-color: #086e0c
}

.text-danger{
    color: red !important;
}

[v-cloak] {
    display: none;
  }

  .required-field:before {
    content:" *";
    color: red;
    margin: 6px;
  }